*{
    padding-left: 0 !important;
    padding-right: 0 !important;
    
}

.navbar-brand{
    height: auto !important;
}

.menu{
    background-color: black !important;
    height: 16vh;
}

.content{
    height: 72vh;
    margin-top: 16vh;
}

.label{
    font-size: 16pt !important;
}

.input{
    height: 40px;
    padding-left: 16px !important;
    margin-bottom: 16px !important;
}

.form-signup{
    width: 50% !important;
}

.btn-send-signup{
    font-size: 14pt !important;
    height: 56px;
}

.btn-send-login{
    margin-top: 16px !important;
    font-size: 14pt !important;
    height: 56px;
}

.arrow-prev-a{
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    position: absolute;
    top: 5vh;
    left: 5vw;
}

.arrow-prev-img{
    transform: rotate(180deg) !important;
}

.card-message{
    display: none;
    width: 20vw;
    position: absolute;
    top: 5vh;
    left: 75vw;
}

.btn-search{
    width: 40px !important;
    height: 40px !important;
}

.btn-logout{
    width: 40px !important;
    height: 40px !important;
}

.card-header-message{
    background-color: whitesmoke;
    height: 5vh;
}

.card-body-message{
    height: auto;
}

.profile{
    height: 100vh;
}

#arquivo{
    display: none !important;
}

//  Margin

.mR-16{
    margin-right: 16px !important;
}

.mL-16{
    margin-left: 16px !important;
}

.mT-16{
    margin-top: 16px !important;
}

.mB-16{
    margin-bottom: 16px !important;
}

//  Padding

.pR-8{
    padding-right: 8px !important;
}

.pR-16{
    padding-right: 16px !important;
}

.pL-16{
    padding-left: 16px !important;
}

.pT-16{
    padding-top: 16px !important;
}

.pB-16{
    padding-bottom: 16px !important;
}

.p-16{
    padding: 16px !important;
}

footer{
    background-color: black !important;
    height: 12vh;
}

footer p{
    margin: 0 !important;
    color: white;
}