*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.menu{
    background-color: black !important;
    height: 12vh;
}

.content{
    height: 80vh;
    margin-top: 12vh;
}

footer{
    background-color: black !important;
    height: 8vh;
}

footer p{
    margin: 0 !important;
    color: white;
}